/* GENERAL STYLES */
*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.array {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
}

.tbl-bl {
  border: solid black .1rem;
  padding: .5rem 0;
}
.tbl-bl h2:first-child {
  border-bottom: solid black .1rem;
}

.tbl-bl div {
  padding: 1rem;
}

h2 {
  text-align: center;
}

button {
  cursor: pointer;
  text-align: center;
}



.on-click {
  margin: 2rem;
  border: solid black .1rem;

}

.array-onClick {
  display: grid;
  grid-template-columns: .5fr 2fr 1fr; 
  grid-template-rows: 1fr; 

}